In [5]:
import pandas as pd
import numpy as np
import scipy as sp

In [10]:
data_in = '../../../data/novels'
data_prefix = 'novels'

In [11]:
OHCO = ['book', 'chapter', 'para_num', 'sent_num', 'token_num']
BAG = OHCO[2:5] # Paragraphs

In [12]:
# Word Embedding window
w = 2

In [13]:
TOKENS = pd.read_csv(f'{data_in}/{data_prefix}-TOKENS.csv')

In [19]:
OHCO = TOKENS.columns.tolist()[:5]

In [21]:
SENT = OHCO[:4]

In [25]:
# TOKENS.groupby(SENT+['term_str'])

In [26]:
TK = TOKENS[['token_num', 'term_str']].copy()

In [27]:
W = pd.concat([TK.shift(2), TK.shift(1), TK, TK.shift(-1), TK.shift(-2)], axis=1, keys="n2 n1 w p1 p2".split())

In [16]:
s = W[W.p2.token_num == 0].sample()

In [17]:
s

              n2                    n1                  w                 p1  \
       token_num    term_str token_num term_str token_num term_str token_num
859916      11.0  gentleness      12.0      and        13      joy      14.0

                       p2
       term_str token_num term_str
859916   impart       0.0      the

In [ ]:
for idx, row in W.iterrows():
    
    a = row.n2.token_num
    b = row.n1.token_num
    c = row.w.token_num
    d = row.p1.token_num
    e = row.p2.token_num

    if c == 0:
        a = None
        b = None
    if c == 1:
        a = None
        b = 
    if c - a > 0:
        pass
    if c - b > 0:
        pass
    if c < e:
        pass
    if c < d:
        pass

In [61]:
s.w.token_num - s.n1.token_num

43610    1.0
Name: token_num, dtype: float64

In [62]:
s.w.token_num - s.n2.token_num

43610   -50.0
Name: token_num, dtype: float64

In [63]:
s.w.token_num - s.p1.token_num

43610   -1.0
Name: token_num, dtype: float64

In [64]:
s.w.token_num - s.p2.token_num

43610    1.0
Name: token_num, dtype: float64